@use "./colors" as *;
@use "../abstract/breakpoint" as *;

html {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: $light-grayish-blue;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-inline-size: 100%;
    block-size: auto;
}