body {
    font-family: "Barlow Semi Condensed", sans-serif;
}

p,
blockquote {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

blockquote {
    margin-inline: 0;
}

.testimonial .headline {
    font-weight: 600;
    font-size: 1.4rem;
}
